:root {
  --padding: 20px;
}

.container-m {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  border: 2px solid black;
  max-width: 650px;
}

.header {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid peru;
}

.right {
  flex: 0.5;
}

.left {
  flex: 2;
  justify-items: center;
  align-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.work,
.name {
  margin: 0;
}

.image {
  width: 100px;
  background-color: orange;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.img {
  width: 70px;
  height: 70px;
  background-color: black;
  border: 2px solid silver;
  border-radius: 50%;
}

.section-heads {
  font-family: monospace;
  margin: 0;
}

.profile {
  padding: var(--padding);
  border-bottom: 2px solid peru;
}

.experience {
  padding: var(--padding);
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.sidebar {
  border-left: 2px solid peru;
}
.container {
  display: grid;
  gap: 2rem;
}

.company,
.date,
.details {
  margin: 0;
}

.education {
  display: grid;
  gap: 15px;
  padding: var(--padding);
}

.school-name,
.year,
.degree {
  margin: 0;
}

.school-name,
.year {
  font-weight: bold;
}

.degree,
.contact-container p {
  color: #463f3f;
}

.education-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contact {
  display: grid;
  gap: 15px;
  padding: var(--padding);
}

.contact-container {
  display: grid;
  grid-template-columns: auto auto;
}

.icon {
  height: 20px;
}

.cont {
  float: inline-start;
  padding-left: 100px;
  direction: rtl;
}

.icon,
.cont {
  margin: 0;
}

.interests {
  display: grid;
  gap: 15px;
  padding: var(--padding);
}

ul {
  margin: 0;
}

ul > li {
  list-style-type: square;
}

.rev-container {
  visibility: none;
}

@media (max-width: 426px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .main {
    width: 70%;
  }
  .main h1 {
    font-size: large;
  }
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .image {
    max-width: 130px;
    height: 140px;
  }
  .right {
    flex: 1;
    height: 50px;
  }
  h2 {
    font-size: 1.3em;
  }
  .img {
    width: 40px;
    height: 40px;
  }
  .sidebar {
    border: none;
  }
  .education-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* .education-details-container div {
    border: 1px solid red;
  } */
  .cont {
    padding: 0;
  }
  .contact-container {
    display: grid;
    font-size: small;
  }
  .education {
    position: relative;
    bottom: 187vw;
  }
  .experience {
    position: relative;
    top: 45vw;
  }
}

@media (max-width: 376px) {
  .main {
    grid-template-columns: 1fr;
  }
  .left > h1 {
    font-size: medium;
  }
  .education-details-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .sidebar {
    border: none;
  }
  /* .image {
    height: 70px;
    width: 70px;
    /* position: absolute;
    top: 2%;
    right: 16%; */
  */ .header {
    height: 90px;
  }
  .name,
  .work {
    margin: 0;
  }
  .education {
    position: relative;
    bottom: 255vw;
  }
  .experience {
    position: relative;
    top: 50vw;
  }
}

@media (max-width: 376px) {
  .education {
    position: relative;
    bottom: 320vw;
  }

  .experience {
    position: relative;
    top: 55vw;
  }
}
